@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1b98be;
    font-size: 20px;
}

.entire {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 100vh;
    column-gap: 0;
}

.header {
    color: rgb(255, 255, 255);
    padding: 10px 0;
    text-align: center;
    background-color: rgb(96, 93, 93);
    height: 100px;
    font-size: 2em;
    font-weight: bold;
    grid-column: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar {
    background-color: rgb(68, 68, 68);
    color: white;
    display: flex;
    flex-direction: column;
    width: auto;
    padding: 20px;
    grid-row: 0;
    gap: 20px;
}

.project-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.project-list button {
    display: flex;
    flex-direction: column;
    background-color: transparent;
    border: 0;
    color: white;
    font-size: large;
    gap: 10px;
}

.project-list button:hover {
    background-color: #1b98be;
}

.project-list button:active {
    background-color: black;
}

.task-list {
    list-style-type: none;
    padding: 20px;
    gap: 10px;
}

.task-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
    border-bottom: 1px solid #e0e0e0;
    background-color: rgb(74, 74, 74);
    border-radius: 10px;
    margin-bottom: 10px;
    color: white;
    height: 30px;
}

.task-name-input {
    margin: 10px;
    padding: 10px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    /* center the input box  */
    display: block;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    font-size: 18px;
}

.task-name-input:focus {
    outline: none;
}

.add-task-button {
    background-color: rgb(205, 197, 197);
    margin: 10px;
    margin-right: 100px;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
}

.add-task-button:hover {
    background-color: rgb(140, 136, 136);
}

.add-task-button:active {
    background-color: rgb(70, 67, 67);
}

.input-div {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin-top: 20px;
}

li {
    list-style-type: none;
}

.add-project-button {
    background-color: rgb(190, 190, 190);
    border-radius: 10px;
    padding: 5px;
    color: black;
    font-weight: bold;
    height: 50px;
    width: 50px;
}

.heading-div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.sidebar-heading {
    color: white;
    font-size: large;
    font-weight: bold;
    padding: 10px;
}

.add-task-dialog {
    border: 0;
}

::backdrop {
    background-color: black;
    opacity: 0.6;
}


form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

.form-buttons button {
    background-color: rgb(205, 197, 197);
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
}

.form-buttons button:hover {
    background-color: rgb(140, 136, 136);
}

.form-buttons button:active {
    background-color: rgb(70, 67, 67);
}