@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f3f4f6; /* Light background color */
  font-size: 20px;
  color: #333; /* Darker text color for better readability */
}

.entire {
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: 20vh minmax(80vh, auto);
}

.header {
  background-color: #283593; /* Deep blue background for header */
  color: white;
  font-size: 2em;
  font-weight: bold;
  grid-row: 1/2;
  grid-column: 1/3;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  height: auto;
  padding: 20px; /* Added padding for better spacing */
}

.header-pic {
  height: 50px; /* Adjusted size for better alignment */
}

.sidebar {
  background-color: #3949ab; /* Dark blue background for sidebar */
  color: white;
  display: flex;
  flex-direction: column;
  padding: 20px;
  grid-row: 2/3;
  grid-column: 1/2;
  gap: 20px;
  transition: background-color 0.3s;
}

.sidebar-heading {
  font-size: 1.5em;
  font-weight: bold;
}

.heading-div {
  display: flex;
  align-items: center;
  gap: 10px;
}

.project-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.project-item-button {
  background-color: transparent;
  border: none;
  color: white;
  font-size: large;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  text-align: left;
}

.project-item-button:hover {
  background-color: #5c6bc0;
  transform: scale(1.05);
}

.project-item-button:active,
.project-item-button.selected {
  background-color: #1b98be;
  transform: scale(1.05);
}

.add-project-button {
  background-color: #1b98be;
  border-radius: 10px;
  padding: 5px;
  color: white;
  font-weight: bold;
  height: 50px;
  width: 50px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.add-project-button:hover {
  background-color: #1565c0;
  transform: rotate(90deg);
}

.content {
  padding: 20px;
}

.task-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.task-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 10px;
  color: #333;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, transform 0.3s;
}

.task-item:hover {
  background-color: #f0f0f0;
  transform: translateY(-2px);
}

.add-task-button {
  background-color: #1b98be;
  margin: 20px 0;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 500;
  border: none;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.add-task-button:hover {
  background-color: #1565c0;
  transform: scale(1.05);
}

.input-div {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  margin-top: 20px;
}

.add-task-dialog,
.edit-task-dialog {
  border: none;
  border-radius: 10px;
  padding: 20px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9);
  font-size: 20px;
}

.dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.9);
  opacity: 1;
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-row {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form-buttons button {
  background-color: #1b98be;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.form-buttons button:hover {
  background-color: #1565c0;
  transform: scale(1.05);
}

.task-done {
  text-decoration: line-through;
  color: #999;
}

.checkbox {
  width: 20px;
  height: 20px;
  outline: none;
  background-color: #f31e1e;
  border: 1px solid #cccccc;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.checkbox:checked {
  background-color: #27ae60;
}

button {
  cursor: pointer;
}

button:hover {
  background-color: #8c8888;
  transform: scale(1.05);
}

button:active {
  background-color: #464343;
}

.edit-button,
.delete-button,
.desc-button {
  border-radius: 10px;
  background-color: #cdc5c5;
  margin: 5px;
  padding: 5px;
  font-size: 18px;
  font-weight: 500;
  border: 2px solid black;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.edit-button:hover,
.delete-button:hover,
.desc-button:hover {
  background-color: #8c8888;
  transform: scale(1.05);
}

.details-dialog {
  border: none;
  border-radius: 10px;
  padding: 30px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9);
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: space-between;
}

.details-dialog button {
  margin: 10px;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  background-color: #1b98be;
}

.details-dialog button:hover {
  background-color: #1565c0;
  transform: scale(1.05);
}

/* Responsive design for smaller screens */
@media (max-width: 768px) {
  .entire {
    grid-template-columns: 1fr;
    grid-template-rows: 20vh minmax(80vh, auto);
  }

  .header {
    grid-row: 1/2;
    grid-column: 1/2;
  }

  .sidebar {
    grid-row: 2/3;
    grid-column: 1/2;
  }

  .content {
    grid-row: 3/4;
    grid-column: 1/2;
  }
}

.add-project-dialog {
  border: none;
  border-radius: 10px;
  padding: 50px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}

.add-project-dialog input[type="text"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 25px;
  height: 30px;
}

.add-project-dialog button {
  background-color: #1b98be;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.add-project-dialog button:hover {
  background-color: #1565c0;
  transform: scale(1.05);
}
